.top{
    margin-top: 30px;
}

.left{
    margin-left: 10px;
}
.bottom{
    margin-bottom: 30px;
}

.aw-zoom:hover
{
    z-index:2;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);  
    -moz-transform: scale(1);
    transform: scale(1.1);
}
